@import '../proto-style.css';


/* #threejs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  touch-action: none;
} */

#p5js{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 3em;
}

canvas {
  touch-action: none;
}
