body {
  margin: 0px;
  font-size: 1vw;
  line-height: 1;
  font-family: arial, sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
}
/* 
p {
  font-size: 1em;
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 0.75vw;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 4vw;
  }
} */

#threejs {
  position: absolute;
  background-color: rgb(78, 78, 78);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
