body {
  font-family: arial, sans-serif;

  font-size: 2rem;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px)  {
}




/* @media screen and (min-width: 1920px)  {

  body {
    font-size: 30px;
  }
} */


h1,h2,h3 {
  text-transform: uppercase;
}

a {
  color: inherit;
}

/*******************************************************/

.box{
  background-color: rgb(212, 212, 212);
  padding: 1em;
  border-radius: 1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  background-color: rgb(155, 155, 155);
  padding: 1em;
  border-radius: 0.5em;
}
/* li:hover{
  background-color: rgb(255, 255, 255);
} */